  /* Login Page Wrapper */
  .login-page {
    display: flex;
    flex-direction: column;

  }

  .login-page h1 {
    color: rgb(21, 21, 54);
    font-size: 1.8rem;
    margin-bottom: 20px;
   text-align: center;
  }
  
  /* Login Container */
  .login-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;

    width: 100%;
  }
  
  .login-left {
    flex: 1;
    text-align: center;
    padding: 70px;
  }
  
  .login-left h1 {
    color: rgb(21, 21, 54);
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .login-left img {
    width: 70%;
    height: 70%;
  }

  .border-line {
    margin: 15px;
    padding: 25px;
    border: 2px solid rgb(114, 114, 170);
    border-radius: 5px;
  }
  
  .login-right {
    flex: 1;
    padding: 50px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
  }

  .signInput {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(114, 114, 170);
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
    text-align: center;
  }
  
  .login-form input:focus {
    border-color: #007bff;
    
  }
  
  .login-form button{
    padding: 12px;
    font-size: 1.2rem;
    background-color: rgb(21, 21, 54);;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;

  }
  
  .login-form button:hover {
    background-color: rgb(21, 21, 54);;
  }
  
  .forgot-password {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: rgb(21, 21, 54);;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }

  .login-form p {
    text-align: center;
  }
  
  .forgot {
    color: rgb(21, 21, 54);
    font-size: 1.2rem;
    font-weight: 500;
  }


  @media screen and (max-width: 768px) {
    .login-container {
        flex-direction: column;
        padding: 20px;
    }
    
    .login-left {
        padding: 0px;
        padding-right: 20px;
    }
    .login-page h1{
      font-size: 1.3rem;
      padding-top: 20px;
    }

    .login-right {
        padding: 0px;
        padding-right: 20px;
  }
  
}