.course-detail-container {
    padding: 40px;
}

.course-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0px 40px;
}

.course-detail-grid {
    display: grid;
    grid-template-columns: 0.75fr 0.75fr;
    gap: 20px;
}

@media (max-width: 768px) {
    .course-detail-grid {
        display: flex;
        flex-direction: column-reverse;
    }
    .course-title{
        display: none;
    }
}

.course-info-section {
    padding: 20px;
}

.course-info-container {
    border: 2px solid rgb(21, 21, 54);
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.course-outline {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 10px;
}

.course-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.course-item:hover {
    background-color: #f0f0f0;
}

.padlock-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.course-info-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.video-container {
    position: relative;
    width: 100%;
}

.current-lesson {
    font-size: 20px;
    font-weight: bold;
    color: rgb(21, 21, 54);
    margin-bottom: 10px;
}

.preview-video {
    width: 100%;
    height: 400px;
    background-color: #000;
}

.info-summary-container {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.play-preview-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.course-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}



.course-price {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.myPrice {
    font-size: 18px;
    color: gray;
    font-weight: 500;
    text-decoration: line-through;
}

.course-info-summary {
    font-size: 16px;
    margin-top: 20px;
}

.info-summary-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.info-summary-item {
    margin-bottom: 10px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}

.what-youll-learn {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.learn-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid orangered;
    padding-bottom: 10px;
}

.learning-container {
    display: flex;
    justify-content: space-between;
}

.learning-left, .learning-right {
    width: 45%;
}

.learning-item {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(21, 21, 54);
    display: flex;
    align-items: center;
}



.buy-button {
    padding: 10px 35px;
    border: none;
    color: #fff;
    width: 40%;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(23, 162, 83); 
    margin-right: 10px;
}

.buy-button:hover {
    background-color: rgb(20, 137, 65);
}

.favourite-button {
    padding: 10px 35px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(223, 73, 19);
    margin-right: 10px;
}
.favourite-button:hover::after{
    content: "✓";
}

.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
     75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.video-duration {
    color: black;
    font-weight: bold;
    margin-left: 10px;
}
.limited-time-offer {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


@media (max-width: 768px) {
    .learning-container{
        flex-direction: column;
        padding: 20px 0;
    }
    .learning-left, .learning-right {
        width: 100%;
    }
    .what-youll-learn{
        border-radius: 0;
    }
    .course-info-section{
        padding: 0px;
    }
    .buy-button {
        width: 70%;
    }
}