.faq {
    width: 50%;
    margin: 0 auto;
    gap: 20px;
  }
  #faqH1{
    text-align: center;
    background-color: rgb(231, 231, 231);
    padding: 40px;
    margin-bottom: 50px;
    color: rgb(21, 21, 54);
  }
  
  .faq-item {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .faq-question {
    font-weight: bold;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: rgb(21, 21, 54);
  }
  
  .faq-answer {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
    color: rgb(255, 128, 0);
  }
  .myFaq{
    display: flex;
    padding: 50px;
  }
  .faqy{
    width: 50%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .myFaq{
        flex-direction: column-reverse;
    }
    .faqy{
        width: 100%;
        height: auto;
      }
    .faq{
        width: 100%;
    }
  }
  