.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #d3d3d3;
    color: hsl(240, 44%, 15%);
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 80px;
  }
  
  
  .footer-section h4 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #151536;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section ul li a {
    color: #151536;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
    color: rgb(223, 73, 19);
  }
  
  .footer-logo {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
  }
  .myPlay{
    padding-bottom: 5px;
  }
  .app-icons{
    display: flex;
    align-items: center;
  }
  .app-icons img {
    margin-right: 10px;
    width: 90px;
    height: auto;
  }

  .social-icons img {
    margin-right: 10px;
    width: 30px;
  }
  
  .footer-section h4::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: rgb(223, 73, 19);
    margin-top: 5px;
  }
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
    }
  
    .footer-section {
      margin-bottom: 20px;
    }
    .footer-logo {
        width: 100px;
        height: auto;
        margin-bottom: 5px;
    }

  }

  