#myNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    position: relative;
  }
  
  #logonav {
    width: 36px;
  }
  
  .inWbtn {
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center; 
    padding-bottom: 0px;
  }
  
  .myInput {
    padding-left: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    width: 300px;
    padding-bottom: 0;
  }
  
  .linkSec {
    display: flex;
    gap: 20px;
    align-items: center;
  }
 
  
  .navButtons {
    display: flex; 
    align-items: center;
  }
  
  #firstBtn,
  .secondBtn {
    padding: 10px;
    background-color: white;
    border-radius: 7px;
    margin-right: 5px;
  }
  
  .secondBtn {
    background-color: rgb(8, 8, 95);
    border: 1px solid white;
  }
  
  .search {
    border-radius: 30px;
    background-color: orangered;
  }
  
  #linkTxt,
  #signUpA {
    color: white;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: black;
  }
  
  @media (max-width: 991px) {
    .linkSec {
      display: none;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      background-color: whitesmoke;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      z-index: 1;
      padding: 50px;
    }
  
    .linkSec.active {
      display: flex;
    }
  
    .navButtons {
      display: none; 
    }
  
    .hamburger {
      display: flex;
    }
  
    .search {
      padding: 5px 10px;
      font-size: 12px;
    }
  
    .inWbtn {
      display: flex;
    }
  
    .linkSec.active ~ .inWbtn {
      display: none;
    }
  }
  
  @media (max-width: 991px) {
    .myInput {
      width: 200px;
    }

  }

  @media (max-width: 991px) {
    .hamburger {
      display: flex; 
    }
    
    .hamburger .bar {
      width: 25px;
      height: 3px;
      background-color: black;
      transition: all 0.3s ease;
    }
  
    .hamburger.open .bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .hamburger.open .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.open .bar:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
  
  
  