#firstH1{
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.9rem;
}
.bigBlue{
    color: rgb(37, 37, 112);
}
#firstP{
    padding-top: 20px;
    font-size: 1.1rem;
    color: rgb(21, 21, 54);
}
span{
    color: rgb(223, 73, 19);
}
.introText{
    text-align: left; 
    width: 45%;
    padding-left: 30px;
    padding-top: 20px;
}
@media (max-width: 768px) {
    .introText{
        width: 90%;
        padding-top: 40px;
    }
    #fistH1{
        font-size: 2.6px;
    }
}
.homePage{
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    padding-bottom: 100px;
    background-image: url('../Assets/student-right.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
#diveBtn{
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
}
#diveTxt{
    font-size: 16px;
    color: white;
}

.secondSec{
    text-align: center;
    background-color: whitesmoke;
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.secondSec h1 {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 30px;
}
.sndTxt{
    width: 60%;
}
.sndTxt > p{
    font-size: 1.2rem;
    padding-bottom: 20px;
}
.jourCont{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 20px; 
    justify-content: space-around;
    margin: 30px;
}


#StartBtn{
    padding: 15px;
    background-color: rgb(21, 21, 54);
    border-radius: 20px;
    margin-top: 20px;
    border: none;
}


.thirdSec{
    width: 100%;
    background-image: url('../Assets/focused-female.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 60px;
    padding-top: 125px;
    padding-bottom: 125px;
}
.textSec{
    width: 45%;
}
#myH1{
    font-size: 3.1rem;
    font-weight: 600;
    line-height: 3.8rem;
}
@media (max-width: 768px) {
    .jourCont{
        margin: 10px;
        margin-top: 20px;
    }
    .thirdSec{
        background-position: center center;
    }
    .textSec{
        width: 80%;
    }
    #myH1{
        font-size: 2.9rem;
        line-height: 3.4rem;
    }
}
#courseBtn{
    padding: 15px;
    background-color: rgb(223, 73, 19);
    border-radius: 20px;
    margin-top: 20px;
    border: none
}
#courseBtn:hover{
    background-color: orange;
}

.courseCat{
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.catHead{
    text-align: center;
    background-color: gainsboro;
    padding: 40px;
    margin-top: 90px;
    margin-bottom: 80px;
    color: rgb(21, 21, 54);
}
.catBody{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px; 
    justify-content: space-evenly;
    margin: 30px;
}
.tutorContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
  }
  
  .tutorCard {
    width: calc(32% - 22px);
    padding: 10px;
    border: 1px solid rgb(21, 21, 54);
    border-radius: 25px;
    text-align: center;
  }
  @media (max-width: 768px) {
    .tutorCard {
        width: calc(100% - 10px); 
    }
    .tutorContainer{
        margin: 5px;
    }


}
  .tutorImage {
    width: 100%;
    height: 420px;
    border-radius: 25px;
    margin-bottom: 10px;
  }
  
  .tutorName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .tutorProfession {
    font-size: 1rem;
    color: orangered;
    margin-bottom: 10px;
  }
  
  .tutorBio {
    font-size: 0.9rem;
    color: rgb(21, 21, 54);
    padding-left: 50px;
    padding-right: 50px;
  }
  